/* Remove all default white backgrounds */
:root {
  --gw-bg-dark: #020617;
  --gw-bg-light: #f3f4f6;

  --gw-text-dark: #e2e8f0;
  --gw-text-light: #111827;

  --gw-accent: #4c9bc2;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background: var(--gw-bg-dark);
  color: var(--gw-text-dark);
  font-family: 'Inter', sans-serif;
}

body.light, html.light {
  background: var(--gw-bg-light);
  color: var(--gw-text-light);
}
